<!DOCTYPE html>
<html lang="en">
<head>
    <title>WonderSoft</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    
    <meta name="description" content="Wondersoft page">
    <meta name="keywords" content="roguelike, game, indie">

    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<header id="title">
    <h2>WONDER ROGUE</h1>
</header>

<div id="main">
    <div id="game">
        <canvas id="canvas"></canvas>
    </div>

    <div id="side">
        <div id="scoreboard">
            <h2>SCORE</h1>
                <li id="top1"> CLASS NAME SCORE </li>
            <h3>TOP 10</h3>
            <ul id="score">   
                <li id="top2"> CLASS NAME SCORE </li>
                <li id="top3"> CLASS NAME SCORE </li>
                <li id="top4"> CLASS NAME SCORE </li>
                <li id="top5"> CLASS NAME SCORE </li>
                <li id="top6"> CLASS NAME SCORE </li>
                <li id="top7"> CLASS NAME SCORE </li>
                <li id="top8"> CLASS NAME SCORE </li>
                <li id="top9"> CLASS NAME SCORE </li>
                <li id="top0"> CLASS NAME SCORE </li>
            </ol>
        </div>

        <div id="chat">
        </div>
    </div>
</div>
<footer>
    <h5>Copyright &copy; Wonder</h4>
</footer>

<script src="js/main.js"></script>
</body>
</html>